
/* Overall Styling */
:root {
    --bg-dark:rgb(23, 23, 24);
    --light-white: rgb(236, 232, 226);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: Copperplate Gothic Light, sans-serif;
    font-weight: bolder;
}

/* Header Begin */

h2 {
    color: var(--light-white);
}

p {
    color: var(--light-white);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--bg-dark);
    background-size: cover;
    background-position: 100%;
    z-index: 9999;
  }

header h1 {
    font-weight: lighter;
    border: none;
    margin: 0;
    font-size: 36px;
    color: var(--light-white);
}

header nav {
    margin: 7px 0;

}

a {
    display: flex;
    text-emphasis: none;
    text-decoration: none;
    color: var(--light-white);
    align-items: center;
    list-style: none;
    font-size: ;
}

.header-links nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

.header-links ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(75, 81, 82, 0.5);
}


/* header end */

/* Content Begin */

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 30px 45px;
    background-color: var(--bg-dark);
    /*
    background-image: url(../images/bg-img.jpg);
    */
    background-attachment: fixed;
    background-position: 100%;
    width: 100%;
}


h2 {
    font-weight: lighter;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;

}

.about-me h2 {
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; 
    border-left: black;
    border: 5px;
    color: rgb(236, 232, 226);
    align-items: right;
    margin: 70px 80px;
}

.work {
    width: 80%;
}

.work a {
    margin: 70px 80px;
}

.contact {
    width: 100%
}

/* content end */

/* Footer Begin */

footer {
    position: sticky;
    background-color: var(--bg-dark)
}

/* footer end */

/* Media Queries Begin */


/* YOUTUBE FOLLOW START */